.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  font-weight: 500
}

mat-expansion-panel {
  margin: 5px;
  background-color: #f1f3f4;
  max-width: 65%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.cart-item-card-title {
  text-align: center;
  margin-bottom: 0px !important;
}

.total-values-td{
  text-align: end;
}

.program-logo {
  width: 130px;
}

.total-card {
  width: 235px;
  height: 250px; 
  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      height: 40px;

      td {
        mat-form-field {
          width: 100%;
        }
      }
    }
  }
}

.billing-dropdown {
  width: 500px;
}

.billing-option {
  height: 5em !important;
  color: black !important;
}

.billing-location-table {
  width: 50%;
  tr {
    height: 40px;
  }
}


.payment-card {
  margin: 5px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;

  table {
    width: 100%;

    mat-form-field {
      width: 100%
    }
  }
}
