<div style="margin:20px" *ngIf="dataLoaded">
  <table style="width:100%;">
    <tr>
      <td style="width:70%;">
        <table style="width:100%;">
          <tr>
            <td class="tab-info-heading">
              Application Program
            </td>
            <td class="tab-info-heading">
              Facility Details
            </td>
            <td class="tab-info-heading">
              Application Fee
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
      <td>
        &nbsp;
      </td>
    </tr>
    <hr>
    <tr>
      <td class="items-td">
        <ng-container *ngFor="let item of cartItems">
          <mat-card style="width:95%">
            <mat-card-title class="application-card-title cart-item-card-title">{{item.legalBusinessName}}
              {{' - ' + item.programType}} | <small>E-ProfileId: {{item.eProfileID}}</small></mat-card-title>
            <mat-card-content style="width:100%">
              <table style="width:100%">
                <tr>
                  <td style="width:20%">
                    <div class="program-logo">
                      <img width="110" height="65" src={{getImageUrl(item.programTypeId)}}>
                    </div>
                  </td>
                  <td style="width:60%">
                    <div>
                      <table>
                        <tr>
                          <td class="table-label">
                            Primary DBA:
                          </td>
                          <td>
                            {{item?.primaryDBA||""|titlecase}}
                          </td>
                        </tr>
                        <tr>
                          <td class="table-label">
                            Address:
                          </td>
                          <td>
                            {{item?.addressLine1||"" |titlecase}} {{item?.addressLine2||"" |titlecase}}
                            {{", " + item?.city + ", " ||"" |titlecase}} {{item?.stateName + ", " ||"" |titlecase}}
                            {{item?.countryName||"" |titlecase}}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                  <td style="width:10%">
                    <div class="tab-info-heading">
                      {{item.applicationFee | currency}}
                    </div>
                  </td>
                  <td style="width:10%">
                    <div>
                      <button mat-raised-button (click)="openDeleteConfirmationModal(item.facilityId,item.programTypeId)">Remove</button>
                    </div>
                  </td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          <br>
        </ng-container>
      </td>
      <td class="center-content" style="padding:10px">
        <mat-card class="total-card" mat-elevation-z4>
          <table>
            <tr>
              <td>
                Items :
              </td>
              <td class="total-values-td">
                {{cartItems.length ||""}}
              </td>
            </tr>
            <tr>
              <td>
                Items Fee:
              </td>
              <td class="total-values-td">
                {{totalPrice | currency}}
              </td>
            </tr>
            <tr>
              <td style="border-bottom: 1px solid #ddd;">
                Discount:
              </td>
              <td class="total-values-td" style="border-bottom: 1px solid #ddd;">
                {{(totalPrice-discountedPrice) | currency}}
              </td>
            </tr>
            <tr>
              <td class="table-label">
                Order Total:
              </td>
              <td class="table-label total-values-td" style="color: #B12704!important;">
                {{discountedPrice | currency}}
              </td>
            </tr>
          </table>
          <br>
          <form [formGroup]='paymentCodeForm'>
            <table style="width:100%">
              <tr style="height: 40px;">
                <td style="border-top: 1px solid #ddd;">
                  Codes applied:
                </td>
                <td style="border-top: 1px solid #ddd;">
                  {{(appliedPaymentCodes)? appliedPaymentCodes : '---' }}
                </td>
              </tr>
              <tr>
                <td colspan=2>
                  <mat-form-field appearance="outline">
                    <mat-label>Payment Code</mat-label>
                    <input matInput placeholder="Payment Code" formControlName="paymentCode">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan=2 style="text-align: center;">
                  <button mat-raised-button color="primary" [disabled]="!paymentCodeForm.controls['paymentCode'].value || !paymentCodeForm.valid"
                    (click)="applyDiscountCode()">Apply</button>
                </td>
              </tr>
            </table>
          </form>
        </mat-card>
      </td>
    </tr>
  </table>
</div>