.space-between {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  margin-top: 10px;
}

.business-hours-table {
  border: 1px solid rgb(221, 217, 217);
  width: 100%;

  tr {
    th,
    td {
      border-bottom: 1px solid rgb(221, 217, 217);
      border-right: 1px solid rgb(221, 217, 217);
      text-align: left;
      padding: 10px;
    }
  }
}

.outer-business {
  display: flex;
  flex-flow: row wrap;
}

.inner-card2 {
  width: 315px;
  margin: 10px;
}

.inner-card-image {
  width: 290px;
  margin: 10px;
}

.td1 {
  width: 40%
}

mat-chip{
  width:140px;
  height:30px;
  font-size:14px; 
  }

.gallery img {
  width: 100%;
  min-height:270px;
  max-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 12px 13px 31px 4px rgba(0, 0, 0, 0.19);
}

.gallery1 img {
  width: 100%;
  max-height: 300px;
  min-height:270px;
}

.responsive {
  padding: 20px;
}
