
mat-dialog-content {
    text-align: justify;
    padding: 5px 40px 15px 60px;
}

.wrap-mat-radio-label ::ng-deep {
    white-space: normal !important;
    a{
        text-decoration: underline;
        color: blue;
    }   
}

.attestation-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.attestation-radio-button {
    margin-top: 10px;
}

.attestation-checkbox-label {
    white-space: normal !important;
}