<footer>
  <mat-toolbar class="app-footer md-scroll-shrink">
    <table class="footer-content">
      <tr>
        <td style="text-align:left">
          <img class="footer-logo" src="../../../assets/images/NABP-Footer-Logo_324x88.png">
        </td>
        <td style="text-align:center;">
          <h5>
            <a href="https://nabp.pharmacy/help" class="cls-white" target="_blank">FAQs</a>
          </h5>
          <a class="cls-white" href="tel:847-391-4406">847-391-4406</a> <br>
          <a class="cls-white" href="mailto:help@nabp.pharmacy" target="_top">help@nabp.pharmacy</a>
        </td>
        <td style="text-align:right">
          <h5><a href="https://nabp.pharmacy/policies/eprofile-terms/" class="cls-white" target="_blank">Terms and
              Conditions</a></h5>
          <a href="https://nabp.pharmacy/policies/privacy-policy/" class="cls-white" target="_blank">Privacy Policy</a>
          <br>
          <span>© {{currentYear}} - NABP</span>
        </td>
      </tr>
    </table>
  </mat-toolbar>
</footer>