<mat-expansion-panel [disabled]="stepFlowId==applicationStepIds.choose_programs||stepFlowId==applicationStepIds.review"
  *ngIf="applicationFacilities.length!=0" [expanded]="expandPanel" (opened)="openPanel()">
  <mat-expansion-panel-header class="space-between application-master-exp-panel">
    <mat-panel-description class="custom-text-font-style">
      Click here to Change Facility
    </mat-panel-description>
    <mat-panel-title style="width:23%">
      <h3 class="custom-text-font-style">{{selectedFacility?.legalBusinessName |uppercase}} |
        <small> E-Profile ID: {{selectedFacility?.eProfileID}}</small>
      </h3>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <hr>
  <div class="space-between">
    <mat-form-field class="facility-dropdown" appearance="outline">
      <mat-label>Select a Facility</mat-label>
      <mat-select placeholder="Select Facility" (selectionChange)="changeFacilitySelection($event.value)" [value]="selectedFacility?.organizationId">
        <mat-select-trigger> {{selectedFacility?.legalBusinessName}}
          <br>
          <br>
          <mat-progress-bar mode="determinate" value={{progressBarValue}}></mat-progress-bar>
        </mat-select-trigger>
        <mat-option *ngFor="let facility of applicationFacilities;" [value]="facility.organizationId">
          <b>{{facility.legalBusinessName}} | <small>E-ProfileId: {{facility.eProfileID}} | Primary DBA:
              {{facility.primaryDBA||""|titlecase}}</small></b>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <table>
      <tr>
        <td class="table-label">
          Legal Business Name:
        </td>
        <td>
          {{selectedFacility?.legalBusinessName||""}}
        </td>
        <td class="table-label">
          Primary DBA:
        </td>
        <td>
          {{selectedFacility?.primaryDBA||""|titlecase}}
        </td>
      </tr>
      <tr>
        <td class="table-label">
          Address:
        </td>
        <td>
          {{selectedFacility?.addressLine1||"" |titlecase}} {{selectedFacility?.addressLine2||""|titlecase}}
        </td>
        <td>
          {{selectedFacility?.city||""|titlecase}}, {{selectedFacility?.stateName||""|titlecase}}
        </td>
        <td>
          {{selectedFacility?.countryName||""}}
        </td>
      </tr>
    </table>
  </div>
</mat-expansion-panel>
<mat-sidenav-container *ngIf="applicationFacilities.length!=0" class="sidenav-container-application-master" (mousedown)="closePanel($event)">
  <mat-sidenav #sidenav opened mode="side" class="sidenav-application-master">
    <mat-nav-list style="width: 98%;overflow:visible;">
      <ng-container *ngFor="let tab of tabs; let ind=index;">
        <mat-list-item [ngClass]="(stepFlowId<tabs[ind].completionId && stepFlowId>=tabs[ind].sequenceId && tabs[ind].isCompleted)?'active-link':(tabs[ind].isCompleted)?'complete-link':' '"
          queryParamsHandling="merge" class="mat-item" (click)="jumpToStep(ind)">
          <span class="valid-badge" *ngIf="tabs[ind].isValid" matBadge="✓" matBadgePosition="before" matBadgeOverlap="false">          
          </span>
          <span class="invalid-badge" *ngIf="!tabs[ind].isValid &&tabs[ind].isCompleted && !(stepFlowId<tabs[ind].completionId && stepFlowId>=tabs[ind].sequenceId)"
            matBadge="X" matBadgePosition="before" matBadgeOverlap="false">          
          </span>
          <span>&nbsp;</span>
          <span>{{tab.name}}</span>
          <span class="step-progress-bar" *ngIf="stepFlowId<tabs[ind].completionId && stepFlowId>=tabs[ind].sequenceId && !tabs[ind].isCompleted">
            [{{(stepFlowId- tabs[ind].sequenceId)}}/{{(tabs[ind].completionId - tabs[ind].sequenceId)}}]
          </span>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="display:flex">
      <button mat-icon-button matTooltip="Click to Hide/Show" matTooltipPosition="before" [ngStyle]="{'background-color':(sidenav.opened)?'Transparent':'#cdd3f7'}"
        (click)="sidenav.toggle()">
        <mat-icon>{{(sidenav.opened)?"format_indent_decrease":"chevron_right"}}</mat-icon>
      </button>
      <div class="application-router-outlet">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
  <br>
  <br>
</mat-sidenav-container>
<mat-toolbar *ngIf="applicationFacilities.length!=0" (mousedown)="closePanel($event)" class="flex-space-around prev-next-toolbar">
  <button mat-raised-button color='primary' [disabled]="(stepFlowId==0)?'true': 'false'" (click)="goToLastStep()">
    Prev
  </button>
  <button mat-raised-button color='primary' [disabled]="!enableNext" (click)="goToNextStep()">
    Next
  </button>
</mat-toolbar>