.card {
    width: 280px;
    margin: 30px;    
    display:inline-block;
  }
  .space-between {
    display: flex;
   justify-content: space-between;
   background-color: transparent;
   margin-top: 10px;
  
}

  
  
  