<div class="header-div">
  <div class="header-div">
    <mat-toolbar class="space-between mat-toolbar-level2">
      <span *ngIf="_toolbar_header=='Make Payment'" style="cursor: pointer;" (click)="goBacktoApplication()">
        <mat-icon>reply</mat-icon>
        Application Review
      </span>
      <span *ngIf="_toolbar_header=='Payment Confirmation'" style="cursor: pointer;" routerLink="/dashboard">
        <mat-icon>reply</mat-icon>
        Dashboard
      </span>
       <span>{{_toolbar_header}}
      </span>
      <span style="width: 180px;">&nbsp;</span>
    </mat-toolbar>
  </div>
</div>
<router-outlet></router-outlet>
