<mat-card *ngIf="dataLoaded == true" mat-elevation-z4 class="facility-level-card-size">
  <div class="space-between" style="margin:10px">
    <div class="tab-info-heading">
      {{disciplinaryactionmsg}}
    </div>
  </div>
  <hr>
  <div>
    <div *ngIf="rowData.length!=0">
      <dynamic-grid paginationPageSize="5" [data]="rowData" [columnDefs]="columnDefs" showExportButton="noShow">
      </dynamic-grid>
    </div>
    &nbsp;
  </div>
  <h3 *ngIf="rowData.length==0" class="no-record-text">
    No records available for this organization.
  </h3>
</mat-card>