.file-content {
  padding: 10px;
  margin: 10px;
  background-color: #f1f3f4;
  height: 180px;
  border-style: dotted;
  border-color: rgb(49, 49, 49);
  border-width: 2px;
  overflow: auto;
}
.file-text{
  font-size: 14px;
}